body{
  margin:0;padding:0;
  list-style:none;
  Background:#656565;
  font-family:"Broadway"
}
.content{
  width:100%;
  background:url('../pic/con-bg.png');
  position:relative;
  padding-top:40px;
}
.map{
  width:800px;
  height:600px;
  margin:0 auto;
  background: url('../pic/main-map.jpg');
  opacity:0.4;
  border-radius:10px;
  position:relative;
}
.map .link{
  display:block;
  position:absolute;
  top:0px;
  left:0px;
  width:0px;
  height:0px;
  Background:black;
  opacity:0;
  text-align:center;
  line-height:100px;
  color:white;
  -webkit-transition:opacity .9s ease;
}

.circle-wrapper{
  display:none;
  position:absolute;
  width:100%;
  height:600px;
  top:40px;
  /* Background:#ccc; */
}

.circle-wrapper .inner{
  width:800px;
  height:350px;
  margin:0 auto;
  overflow:auto;
  padding-top:130px;
  position:relative;
  padding-bottom:120px;
}
.inner .circle{
  border-radius:50%;
}
.circle-out{
  position:relative;
  width:145px;
  height:145px;
  background:white;
  margin:25px;
  box-shadow:3px 5px 20px black ;
}
.circle-inner{
  position:absolute;
  width:124px;
  height:124px;
  top:50%;
  left:50%;
  margin-top:-62px;
  margin-left:-62px;
  overflow:hidden;
}
.circle img{
  width:100%;
}
.circle a{
  position:absolute;
  display:block;
  width:100%;
  height:100%;
  border-radius:50%;
  z-index:2000;
  top:0px;
  opacity:0.6;
  -webkit-transition:.9s ease;
}
.circle a:hover{
  box-shadow:0px 0px 15px black inset;
  opacity:0;
}
.circle em{
  position:absolute;
  display:block;
  width:100%;
  height:100%;
  border-radius:50%;
  z-index:1000;
  top:0px;
  -webkit-transition:.6s ease;
  box-shadow:0px 0px 32px black inset;
}
.circle span{
  width:64px;
  font-size:0.7em;
  text-align:center;
  display:block;
  position:absolute;
  z-index:3000;
  top:80px;
  left:50%;
  margin-left:-32px;
  color:white;
  -webkit-transition:.5s ease;
}
.gray{
  background: #393939;
}
.purple{
  background: #815495;
}
.orange{
  background: #d35429;
}
.coffee{
  background: #8c5446;
}
.yellow{
  background: #de9736;
}
.green{
  background: #698a39;
}
.blue{
  background: #5e91ca;
}
.red{
  background: #5e0707;
}