body,ul,li{
  margin:0;padding:0;
  list-style:none;
  font-size:1.1em;
}
.content{
  overflow:hidden;
  width:730px;
  height:630px;
  margin:0 auto;
}
img{
width:100%;
}
area{
outline:none;
}
.tanchu{
  display:none;
  width:500px;
  height:630px;
  position:absolute;
  top:0px;
  left:50%;
  margin-left:-250px;

  border:1px solid rgba(86, 87, 87, 0.74);
  z-index:99;
  background-color:#fbfbfb;
  opacity:0.9;
  overflow:auto;
}
.list{
  padding:20px;
}
.list-item{
  height:100px;
}

.left{
  float:left;
  width:70px;
  height:70px;
  margin-left:20px;
  overflow:hidden;
  border-radius:50%;
}
.right{
  font-size:0.8em;
  width:210px;
  max-width:210px;
  padding-left:40px;
  height:70px;
  line-height:70px;
  max-width:210px;
  overflow:hidden;
  float:left;
}
.r-right{
font-size:0.6em;
  width:107px;
  max-width:107px;
  height:70px;
  line-height:70px;
  float:left;
  overflow:hidden;
}
